doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Asap',rel='stylesheet',type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto',rel='stylesheet',type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/timepicki.css')
    script(type='text/javascript',src='/javascripts/jquery.js')
    script(type='text/javascript',src='/javascripts/timepicki.js')
    script(type='text/javascript',src='/javascripts/jquery.placepicker.js')
    script(type='text/javascript',src='https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places')
    script(type='text/javascript',src='/javascripts/app.js')
  body
    block content